<div class="max-h-1/12 h-1/12 text-white flex items-center justify-between gap-2 px-2 flex-row border-b from-slate-800 bg-linear-to-r to-slate-700 border-slate-600">
    <div class="w-fit h-full flex justify-center items-center">
        <button class="h-9/12 px-4 hover:cursor-pointer hover:text-amber-200 rounded-sm">Projeto</button>
    </div>
    <div class="h-full w-fit gap-2 flex flex-row justify-center items-center">
        <a href=""></a>
        <a class="h-9/12 px-4 hover:cursor-pointer flex hover:text-amber-200 rounded-sm items-center" routerLink="/home">Home</a>
        <button class="h-9/12 hover:cursor-pointer"><img class="h-full w-full rounded-full" *ngIf="this.authService.isLoggedIn()" src="../../../../assets/imgs/img.png"></button>
        <button class="h-9/12 px-4 hover:cursor-pointer hover:text-amber-200 rounded-sm" *ngIf="this.authService.isLoggedIn()" (click)="logout()">Sair</button>
        <button class="h-9/12 px-4 hover:cursor-pointer hover:text-amber-200 rounded-sm" *ngIf="!this.authService.isLoggedIn()" (click)="login()">Entrar</button>
    </div>
</div>