<div class="w-screen justify-between h-screen bg-radial from-slate-800 font-normal to-slate-900" >
    <app-home-header-menu></app-home-header-menu>
    <div class="text-slate-500">
        <button class="bg-amber-50"></button>
        <input class="" type="text">
    </div>

    <div class="text-slate-200 w-full text-center">
        <h1>Clique <a class="underline hover:cursor-pointer hover:text-amber-200" routerLink="/auth/fazer-login">aqui</a> para fazer login</h1>
        <h1 *ngIf="!!userName">Bem vindo de volta:</h1><span>{{ userName }}</span>
    </div>
    <router-outlet></router-outlet>
</div>